/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    object-fit: contain;
    width: 100%;
}

/* main */
main {
    padding: 60px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* intestazione */
.intestazione>* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.intestazione {
    margin-bottom: 40px;
}

/* /intestazione */

.catalogo {
    display: flex;
}

.col33 {
    width: calc(100% / 3);
}

.contenitore_articolo {
    padding: 10px;
}

article {
    border: solid 1px grey;
}